<footer>
    <div class="container">
        <div class="footer-content animate__animated animate__fadeIn">
              <div class="footer-column">
                  <div class="footer-title">Общая презентация</div>
                  <a href="./mads.pdf" target="_blank" class="footer-btn-style">Скачать презентацию</a>
              </div>
              <div class="footer-column">
                  <div class="footer-title">Социальные сети</div>
                  <div class="social-links">
                      <a href="https://vk.com/mds.show" target="_blank"><img src="/assets/images/footer/vk.svg" alt=""></a>
                      <a href="#" target="_blank"><img src="/assets/images/footer/instagram.svg" alt=""></a>
                      <a href="#" target="_blank"><img src="/assets/images/footer/tiktok.svg" alt=""></a>
                      <a href="https://telegram.im/@mads_promotion" target="_blank"><img src="/assets/images/footer/telegram.svg" alt=""></a>
                  </div>
              </div>
              <div class="footer-column contacts">
                  <div class="contacts-container">
                      <div class="footer-title">Контакты</div>
                      <div class="item">
                        <img src="/assets/images/footer/phone-alt.svg" alt=""><a href="tel:+79287729041" target="_blank">+7 (928) 772-90-41</a>
                </div>
                <div class="item">
                   <img src="/assets/images/footer/mail.svg" alt=""><a href="mailto:marketing@mds.show" target="_blank">marketing@mds.show</a>
              </div>
            </div>
            </div>
          </div>
    </div>
</footer>
