<header>
    <div class="container">
        <div class="header_wrap">
            <a href="/index.html" class="logo_wrap">
                <img src="../assets/images/Slogo.svg" alt="Logo">
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="">Наши блогеры</a></li>
                    <li><a href="">Кейсы</a></li>
                    <li><a href="">Наши преимущества</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="">Клиенты</a></li>
                </ul>
            </nav>
            <a href="#" class="request btn_style_header">
                <span>Оставить заявку</span>
                <span><i></i></span>
            </a>
            <button class="toggle-menu" style="display: none;">
                <span class="burger">
                    <span class="b-top"></span>
                    <span class="b-bottom"></span>
                    <span class="b-footer"></span>
                </span>
            </button>
        </div>
    </div>
</header>
