.form{
    font-family: $font-family-normal;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form{
            background: white;
            box-shadow: 0 12px 46px $secondary;
            border-radius: 34px;
            @import "blocks/sendler.scss";
        }
    }
  
    
}


