

@media (min-width: 1200px){
    .container{
        width: 1200px;
    }    
}

@media (min-width: 1920px){
    .container{
        width: 1900px;
        padding-right: 100px;
        padding-left: 100px;
    }    
}