

@media (min-width: 1200px){
    .container{
        width: 1200px;
    }    
}

@media (min-width: 1600px){
    .container{
        width: 1560px;
        padding-right: 100px;
        padding-left: 100px;
    }    
    main{
        // background-image: url(/assets/images/background-site1.png);
        background-position: 27% 770px;
    }
   
}

