@media (min-width: 1600px){
    .container{
        width: 1560px;    
    }    
    main{
        // background-image: url(/assets/images/background-site1.png);
        background-position: 27% 770px;
    } 
}
//Desktop 1600px
@media only screen and (max-width:1600px){
    .advantages{
        .advantages-container{
            .item{
                padding: 20px;
                .item-rk-container{
                    margin-right: 15px; 
                }
                .item-container{
                    .title{
                        font-size: 20px;
                    }
                    p{
                        margin-top: 10px;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}
// Laptop 1200
@media only screen and (max-width: 1200px){
    // .container {
    //     width: 970px;
    // }
    @import "media-size/1200.scss";
}
// Tablet 768 min
@media only screen and (max-width: 992px){
    @import "media-size/992.scss";
}

@media only screen and (max-width:768px) {
    .container{
        width: calc(100%);
    }
    main{
        .cases{
           .container{
               max-width: 770px;
           }
        }
    }
    footer{
        .container{
           .footer-content{
               .contacts{
                   margin-top: 50px;
                width: 100%;
                   .contacts-container{
                       .item:last-child{
                           order: 3;
                       }
                       .footer-title{
                           order: 2;
                       }
                       display: flex;
                      justify-content: space-between;
                   }
               }
           }
        }
    }
}

/* Container Points*/
@media (min-width: 768px){
    .container{
        width: 750px
    }
    
}
	

@media (min-width: 992px){
    .container{
    width: 970px
    }
}
	

@media (min-width: 1200px){
    .container{
    width: 1200px
    }
}
	


@media (min-width: 1600px){
    .container{
    width: 1560px
    }
}
	
/* END CONTAINER POINTS*/

@media (width: 1600px){
    .menu{
        width: 56%;
    }
}