$white: #fff;
$primary: #141823;
$secondary: #707b9b;
$color-red: #e81e1e;
$gradient-btn: #ffa5a5;
$font-family-normal: "Montserrat";
$h1-color:#171f36;
$agency-p: #707b9b;
$footer-style-lines: #ffce00;