$white: #fff;
$primary: #141823;
$secondary: #707b9b;
$color-red: #e81e1e;
$gradient-btn: #ffa5a5;
$font-family-normal: "Montserrat";
$h1-color:#171f36;
$agency-p: #707b9b;
$footer-style-lines: #ffce00;
$border-adv: #dee5f9;

$ani-0_8-menu: 0.8s;
$ani-1_2-request: 1.2s;
$ani-0_3-logo: 0.3s;
$ani-0_8-agency-h1: 0.8s;
$ani-1_2-agency-p: 1.2s;
