<header>
    <div class="container">

        <div class="header_wrap">
            <a href="/html/index.html.html" class="logo_wrap animate__animated animate__fadeIn">
                <img src="../assets/images/Slogo.svg" alt="Logo">
            </a>
            <nav class="menu animate__animated animate__fadeIn">
                <ul>
                    <li><a href="/html/index.html.html#blogers">Наши блогеры</a></li>
                    <li><a href="/html/cases.html.html">Кейсы</a></li>
                    <li><a href="/html/advantages.html.html">Наши преимущества</a></li>
                    <li><a href="/html/reviews.html.html">Отзывы</a></li>
                    <li><a href="/html/clients.html.html">Клиенты</a></li>

                </ul>
            </nav>
            <a href="/html/form.html.html" class="request btn_style_header animate__animated animate__fadeIn">
                <span>Оставить заявку</span>
                <span><i></i></span>
            </a>
            <div class="sandwich">
                <span></span>
            </div>
            <nav class="menu-adaptive">
                <ul>
                    <li><a href="/html/form.html.html" class="--foo">Оставить заявку</a></li>
                    <li><a href="/html/index.html.html#blogers">Наши блогеры</a></li>
                    <li><a href="/html/cases.html.html">Кейсы</a></li>
                    <li><a href="/html/advantages.html.html">Наши преимущества</a></li>
                    <li><a href="/html/reviews.html.html">Отзывы</a></li>
                    <li><a href="/html/clients.html.html">Клиенты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
